<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko</string>
	<key>CFBundleDisplayName</key>
	<string>Seulkeduler</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.growv.seulkeduler</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>seulkeduler</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaotalk</string>
		<string>youtube</string>
		<string>instagram</string>
		<string>notion</string>
		<string>slack</string>
		<string>naversearchapp</string>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>spotify</string>
		<string>melonapp</string>
		<string>supertoss</string>
		<string>baemin</string>
		<string>coupang</string>
		<string>duolingo</string>
		<string>nikerunclub</string>
		<string>calshow</string>
		<string>mobilenotes</string>
		<string>photos-redirect</string>
		<string>music</string>
		<string>maps</string>
		<string>shortcuts</string>
		<string>x-web-search</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
